
@import "tailwindcss";

:root {
  --foreground: #0f172a; /* slate-900 */
}

body {
  color: var(--foreground);
}

@keyframes float-slow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}
